# next api route folder
NEXT_PUBLIC_NEXT_API_URL=http://localhost:3000/api

# service api url
NEXT_PUBLIC_SERVICE_API_URL=

# Output of `openssl rand -base64 32`
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
